*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
.container{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.mensaje{
    position: fixed;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    animation: move 10s linear infinite;
}